.snakemake
logs/
.cache/
.conda/
.ncbi
.condarc
.quarto
VennDiagram*

results/*
!results/counts
results/counts/*
!results/counts/all.tsv

resources/raw_data/*
resources/sra_runinfo/*
!resources/sra_runinfo/all_runs.csv

plots/

/.quarto/
scratch
commitmsg.txt
